/*  GENERAL STYLES */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #eceaf7;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "hammersmith One", Arial, Helvetica, sans-serif;
}

a {
  color: #eceaf7;
  text-decoration: none;
  transition: color 5ms;
}

a:hover {
  color: white;
}

/* MOBILE NAV BAR*/
.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

nav h1 {
  margin: 0px;
}

.cake-btn {
  border: none;
  background-color: #eceaf7;
  cursor: pointer;
}

.menu-link-container {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background: #645353db;
}

.display-none {
  display: none;
}
/* BANNER */
.banner {
  color: #eceaf7;
  background-image: url(/images/henry-be-_y5CCcYWTjU-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 250px;
  /*display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 55% 45%;
  align-items: flex-end;
  justify-content: flex-end;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  align-content: flex-end;
}

.banner h1 {
  display: none;
  font-size: xxx-large;
}

.banner h2 {
  width: 50%;
  margin-right: 20px;
}

/* MAIN */
.container {
  padding-left: 15px;
  padding-right: 15px;
}

/* DESKTOP MENU */
.desktop-menu {
  display: none;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  background: #645353db;
  margin-top: 25px;
}

.desktop-menu a {
  margin-right: 30px;
  font-weight: bold;
  padding-bottom: 5px;
  transition: border-bottom margin-bottom 1s;
}

.desktop-menu a:hover {
  border-bottom: 2.5px solid #eceaf7;
  margin-bottom: -2.5px;
}

/* SECTIONS */
.section-one {
  padding-top: 35px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.text-container {
  align-self: start;
}
.section-one h2 {
  font-size: xxx-large;
  margin: -10px 0px -20px 0px;
}
.welcome-image {
  height: 350px;
  background-image: url(/images/jacob-schwartz-enVg_Vtsw1c-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.image-container {
  width: 49%;
  height: 150px;
  margin-top: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */
footer {
  background: #645353db;
  color: #eceaf7;
  margin-top: 25px;
}

footer h5 {
  margin: 0;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.contact h4 {
    margin: 0px 15px;
}

.contact> div {
    background: black;
    margin: 10px;
    width: 80%;
    border-radius: 2px;
}

.phone {
    width: 80%;
}

.signature {
    width: 78.25%;
    border-top: 2px solid black;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15%;
    padding: 5px;
}

.signature h5 {
    margin-left: 10px;
}


/* RESPONSIVE */
@media (min-width: 540px) {
  .col-6 {
    justify-content: center;
  }
}
@media (min-width: 900px) {
  .mobile-nav {
    display: none;
  }

  .banner {
    height: 400px;
  }

  .banner h1 {
    display: block;
  }

  .desktop-menu {
    display: flex;
  }

  .section-one {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .text-container {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .text-container h2 {
      font-size: 60px;
      padding-bottom: 20px;
  }

  .welcome-image {
    width: 49%;
  }

  .image-container {
      width: 23.5%;
  }

  .contact {
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .contact> div {
      width: 25%;
  }

  .signature {
      margin-left: 10.45%;      
      width: 78.45%;
      text-align: center;
  }
}
